.app_light_theme {
    --bg-color: #e8e8ea;
    --inverted-bg-color: #090949;
    --primary-color: #0232c2;
    --secondary-color: #5373b9ba;
    --inverted-primary-color: #04ff04;
    --inverted-secondary-color: #049604;

    // sceleton
    --sceleton-color: #fff;
    --sceleton-shadow: rgba(0 0 0 / 20%);

    // code
    --code-bg: #fff;
}
