.applink {
    color: var(--primary-color);

    &:hover {
        opacity: 0.8;
    }
}

.primary {
    color: var(--inverted-primary-color);
}

.secondary {
    color: var(--primary-color);
}

.red_theme {
    color: red;
}
